body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100vw;
}

.films{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.films_copy{
  padding: 5px;
  width: min-content;
}

.invisible{
  visibility: hidden;
}
.cast{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.person{
 padding: 5px;
}

.img-not-found{
  height: 295px;
  width: 210px;
  display: flex;
  align-items: center;
  border: 2px solid black;
  justify-content: center;
}